<footer class="footer bg-dark container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h4 class="text-center font-weight-bold">Projet PolySkynet</h4>
            <hr/>
            <p class="text-center">Thibaud Murtin, Franck Battu, Adrien Rybarczyk, Erwan Prospert, Fabien Lalande,
             Johann Pistorius & Tristan Grut</p>
        </div>
    </div>
    <br/>
    <div class="footer-copyright text-center">
        <span>© 2018 Copyright: www.polytech.univ-savoie.fr</span>
        <br>
        <a href="https://github.com/APP-RS-OC-Polytech-2020/APP-RS-OC-Polytech-2020">GitHub</a>
    </div>

</footer>